@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.btn_gradient {
  background: rgb(208, 79, 181) !important;
  background: linear-gradient(
    90deg,
    rgba(208, 79, 181, 1) 0%,
    rgba(174, 77, 244, 1) 50%,
    rgba(124, 113, 250, 1) 100%
  ) !important;
}

.ant-btn {
  margin-top: 0 !important;
}

.btn_font {
  font-family: "Times New Roman", Times, serif;
}

.btn_gradient_animated {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgba(101, 0, 94, 1),
    rgba(60, 132, 206, 1),
    rgba(48, 238, 226, 1),
    rgba(101, 0, 94, 1) /* Adding start color again to complete the loop */
  );
  background-size: 400% 100%; /* Extending background size */
  animation: gradient 6s ease infinite; /* Slowing animation for smoothness */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 200% 50%;
  }
  75% {
    background-position: 300% 50%;
  }
  100% {
    background-position: 400% 50%;
  }
}

/* Add this to your CSS file or as inline styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1f1f2e; /* Dark background for track */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    #6a0dad,
    #1e90ff
  ); /* Purple to blue gradient */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    #8a2be2,
    #4682b4
  ); /* Slightly lighter gradient on hover */
}

.custom_card_glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.login_right_bg {
  background: linear-gradient(
    179.4deg,
    rgb(12, 20, 69) -16.9%,
    rgb(71, 30, 84) 119.9%
  );
}

.login_left_glass_bg {
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.aspect-ratio-4-3 {
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 3; /* Modern browsers support aspect-ratio directly */
  object-fit: cover; /* Ensures the image fills the container without stretching */
}

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

@font-face {
  font-family: "Liberty";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/907368/liberty.otf");
}

:root {
  --prime: #ff6e48;
  --second: #1b2431;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.text {
  font-family: "Liberty";
  font-weight: 100;
  font-size: 7rem;
  letter-spacing: -0.25em;
  flex-flow: row;
}

.text .letter {
  color: #d9fdff;
  text-shadow: 0 0 2rem #00f0ff;
  display: inline-block;
}

.text .letter.letter-2 {
  transform: translate(-0.2rem, 1rem) rotate(10deg);
  animation: flicker 2s ease-in-out infinite alternate;
}

.text_logo {
  font-family: "Liberty";
  font-weight: 100;
  font-size: 3rem;
  letter-spacing: -0.25em;
  flex-flow: row;
}
.text_logo .letter {
  color: #d9fdff;
  text-shadow: 0 0 2rem #00f0ff;
  display: inline-block;
}

.text_logo .letter.letter-2 {
  transform: translate(-0.2rem, 1rem) rotate(10deg);
  animation: flicker 2s ease-in-out infinite alternate;
}

@keyframes flicker {
  0% {
    opacity: 1;
    transform: translate(-0.2rem, 1rem) rotate(10deg);
  }
  5% {
    opacity: 1;
    transform: translate(-0.2rem, 1rem) rotate(10deg);
  }
  5.5% {
    opacity: 0;
    transform: translate(-0.2rem, 1rem) rotate(10deg);
  }
  6% {
    opacity: 1;
    transform: translate(-0.2rem, 1rem) rotate(10deg);
  }
  6.5% {
    opacity: 1;
    transform: translate(-0.2rem, 1rem) rotate(10deg);
  }
  7% {
    opacity: 0;
    transform: translate(-0.2rem, 1rem) rotate(10deg);
  }
  8% {
    opacity: 1;
    transform: translate(-0.2rem, 1rem) rotate(10deg);
  }
  50% {
    opacity: 1;
    transform: translate(-0.2rem, 1rem) rotate(13deg);
  }
  100% {
    opacity: 1;
    transform: translate(-0.2rem, 1rem) rotate(10deg);
  }
}

.login_text_bg {
  background-image: linear-gradient(
    90deg,
    rgba(208, 79, 181, 1) 0%,
    rgba(174, 77, 244, 1) 50%,
    rgba(124, 113, 250, 1) 100%
  ) !important;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.custom_card_glass_dashboard {
  /* From https://css.glass */
  background: rgba(37, 37, 37, 0.299);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Adding a soft pulse animation */
@keyframes pulse {
  0%,
  100% {
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.25),
      inset 0px 0px 10px rgba(255, 255, 255, 0.3);
  }
  50% {
    box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.3),
      inset 0px 0px 15px rgba(255, 255, 255, 0.4);
  }
}

.btn_gradient_animated_dashboard {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgba(60, 132, 206, 1),
    rgba(48, 238, 226, 1)
  );
  background-size: 400% 100%; /* Extending background size */
}

.pattern_bg {
  --s: 200px; /* control the size*/
  --c1: #1d1d1d;
  --c2: #3a3a3a;
  --c3: #222222;

  background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 50%
      )
      calc(var(--s) / 2) calc(var(--s) * tan(30deg) / 2),
    repeating-conic-gradient(from 30deg, var(--c1) 0 60deg, var(--c2) 0 120deg);
  background-size: var(--s) calc(var(--s) * tan(30deg));
}

/* Custom styles for the button */
.dashboard-shortcut-button {
  background-color: #1e1e1e; /* Dark background */
  color: #ffffff; /* White text */
  border: none;
  padding: 12px 20px;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Subtle shadow for elevation */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Hover effect for the button */
.dashboard-shortcut-button:hover {
  background-color: #333333; /* Slightly lighter dark color on hover */
  transform: translateY(-2px); /* Subtle lift effect */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); /* Enhanced shadow on hover */
}

/* Focus effect for accessibility */
.dashboard-shortcut-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2); /* White focus ring */
}

/* DARK MODE SWITCH */

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
  transform-style: preserve-3d;
  perspective: 500px;
  animation: toggle__animation 3s infinite;
}

.switch::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  filter: blur(20px);
  z-index: -1;
  border-radius: 50px;
  background-color: #d8ff99;
  background-image: radial-gradient(
      at 21% 46%,
      hsla(183, 65%, 60%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 23% 25%, hsla(359, 74%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 20% 1%, hsla(267, 83%, 75%, 1) 0px, transparent 50%),
    radial-gradient(at 86% 87%, hsla(204, 69%, 68%, 1) 0px, transparent 50%),
    radial-gradient(at 99% 41%, hsla(171, 72%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 55% 24%, hsla(138, 60%, 62%, 1) 0px, transparent 50%);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fdfefedc;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  left: 0.3em;
  bottom: 0.35em;
  transition: 0.4s;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -10px 10px 0px inset,
    rgba(0, 0, 0, 0.09) 0px -1px 15px -8px;
  background-color: #ff99fd;
  background-image: radial-gradient(
      at 81% 39%,
      hsla(327, 79%, 79%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 11% 72%, hsla(264, 64%, 79%, 1) 0px, transparent 50%),
    radial-gradient(at 23% 20%, hsla(75, 98%, 71%, 1) 0px, transparent 50%);
}

.input__check:checked + .slider {
  background-color: #17202a;
}

.input__check:checked + .slider:before {
  transform: translateX(1.5em);
}

@keyframes toggle__animation {
  0%,
  100% {
    transform: translateY(-10px) rotateX(15deg) rotateY(-20deg);
  }

  50% {
    transform: translateY(0px) rotateX(15deg) rotateY(-20deg);
  }
}

.text-black {
  color: #000000;
}

.bg-white {
  background-color: #ffffff;
}

/* Light mode gradients */
.bg-white-gradient {
  background: linear-gradient(180deg, #f0f0f0 0%, #ffffff 100%);
}

.bg-light-gray {
  background: #f5f5f5;
}

.card_sidebar_settings {
  max-width: fit-content;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 1rem;
  backdrop-filter: blur(15px);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.192),
    inset 0 0 5px rgba(255, 255, 255, 0.274), 0 5px 5px rgba(0, 0, 0, 0.164);
  transition: 0.5s;
}

.card_sidebar_settings:hover {
  animation: ease-out 5s;
  background: rgba(173, 173, 173, 0.05);
}

.card_sidebar_settings ul {
  padding: 1rem;
  display: flex;
  list-style: none;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.card_sidebar_settings ul li {
  cursor: pointer;
}

.svg_sidebar_settings {
  transition: all 0.3s;
  /* if you find some problems change w - h : 30px*/
  padding: 1rem;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background: linear-gradient(
    90deg,
    rgba(208, 79, 181, 1) 0%,
    rgba(174, 77, 244, 1) 50%,
    rgba(124, 113, 250, 1) 100%
  ) !important;
  fill: currentColor;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3),
    inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.164);
}

.text_sidebar {
  opacity: 0;
  border-radius: 5px;
  padding: 5px;
  transition: all 0.3s;
  color: rgb(255, 174, 0);
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  z-index: 9999;
  box-shadow: -5px 0 1px rgba(153, 153, 153, 0.2),
    -10px 0 1px rgba(153, 153, 153, 0.2),
    inset 0 0 20px rgba(255, 255, 255, 0.3),
    inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.082);
}

/*isometric prooyection*/
.iso-pro {
  transition: 0.5s;
}
.iso-pro:hover a > .svg {
  transform: translate(15px, -15px);
  border-radius: 100%;
}

.iso-pro:hover .text {
  opacity: 1;
  transform: translate(25px, -2px) skew(-5deg);
}

.iso-pro:hover .svg {
  transform: translate(5px, -5px);
}

.iso-pro span {
  opacity: 0;
  position: absolute;
  color: #1877f2;
  border-color: #1877f2;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3),
    inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.164);
  border-radius: 50%;
  transition: all 0.3s;
  height: 60px;
  width: 60px;
}

.iso-pro:hover span {
  opacity: 1;
}

.iso-pro:hover span:nth-child(1) {
  opacity: 0.2;
}

.iso-pro:hover span:nth-child(2) {
  opacity: 0.4;
  transform: translate(5px, -5px);
}

.iso-pro:hover span:nth-child(3) {
  opacity: 0.6;
  transform: translate(10px, -10px);
}

/* CHARTS CSS */

.ant-card-body {
  padding: 0 !important;
}

/* DonutChart.css */
.apexcharts-legend-series circle {
  width: 12px;
  height: 12px;
}
